{# templates/public/sections/benefits.html #}
{% load i18n %}
{% load static %}

{# Tools / Practices section #}
<section class="hero py-8">
  <div class="hero-container mx-auto px-4">
    <div class="max-w-7xl">
      <div class="text-center">
        <h2 class="text-5xl font-bold">We're here to help you feel better</h2>
      </div>
      <div class="mt-10 grid grid-cols-1 gap-8 md:grid-cols-2 ">
        <div class="card bg-primary w-full shadow-sm ">
          <div>
            <figure>
              <img src="{% static 'images/hero-card-guides.jpg' %}" alt="Shoes" />
            </figure>
          </div>
          <div class="card-body gap-4">
            <h2 class="card-title text-3xl">Guides</h2>
            <p class="text-lg">
              The right kind of self-knowledge helps you avoid costly mistakes, relate more deeply, and build stronger relationships. Discover the life you’re meant to lead — intentionally.
            </p>
            <div class="card-actions justify-start">
              <button class="btn btn-accent">Explore the guides</button>
            </div>
          </div>
        </div>
        <div class="card bg-primary/50 w-full shadow-sm">
          <div>
            <figure>
              <img src="{% static 'images/hero-card-5-min-flow.jpg' %}" alt="Shoes" />
            </figure>
          </div>
          <div class="card-body gap-4">
            <h2 class="card-title text-3xl">5-Minute Flow</h2>
            <p class="text-lg">
              Modern life fuels constant anxiety. Lasting calm comes from organizing your thoughts. These short guided reflections help you clear mental noise and regain perspective.
            </p>
            <div class="card-actions justify-start">
              <button class="btn btn-accent">Start your reset</button>
            </div>
          </div>
        </div>
        <div class="card bg-base-100 w-full shadow-sm">
          <figure>
            <img src="{% static 'images/hero-card-two-do-photo-3.webp' %}"
                 alt="Date-night journal" />
          </figure>
          <div class="card-body gap-4">
            <h2 class="card-title text-3xl">Two-Do List</h2>
            <p class="text-lg">
              Feeling stuck? Struggling to communicate? Each Two-Do List gives you two simple actions designed
              to improve connection, clarity, and closeness.
            </p>
            <div class="card-actions justify-start">
              <button class="btn btn-accent">Try this week’s Two-Do</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
