{% load static i18n compress %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html data-theme="bumblebee" lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        Iuungo
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
          content="Iuungo provides services to help people live more fulfilled lives." />
    <meta name="author" content="developed-by-aerys" />
    <link rel="icon" href="{% static 'images/logo.png' %}" />
    {% block css %}
      {% compress css %}
        <link href="{% static 'css/output.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/project.css' %}" rel="stylesheet" />
      {% endcompress %}
    {% endblock css %}
    {% block javascript %}
      {% compress js %}
        <script defer src="{% static 'js/project.js' %}"></script>
      {% endcompress %}
    {% endblock javascript %}
  </head>
  <body class="min-h-screen {% block bodyclass %}{% endblock bodyclass %}">
    {% block body %}
    {% endblock body %}
    {% block modal %}
    {% endblock modal %}
    {% block inline_javascript %}
    {% endblock inline_javascript %}
  </body>
</html>
